<html>
<head>
<meta http-equiv="refresh" content="5" >
</head>
<body>
<h1> Trouba </h1>
<h2> Teploty </h2>
<ul>
	<li>Odhadovaná teplota: {{data.temp}}
	<li>Nastavená teplota: {{temp}}
</ul>
<h2> Relé </h2>
<ul>
	<li>Horní malá: {{data.TS}} 
	<li>Horní velká: {{data.TB}}
	<li>Zadní: {{data.BACK}}
	<li>Spodní: {{data.BOT}}
	<li>Zadní větrák: {{data.BF}}
	<li>Větrák dveří: {{data.DF}}
	<li>Světlo: {{data.L}} 
</ul>
<button type="button" onclick="window.open('/?temp=-100','_self')">Vypnout</button><br />
<button type="button" onclick="window.open('/?temp=120','_self')">120</button>
<button type="button" onclick="window.open('/?temp=150','_self')">150</button>
<button type="button" onclick="window.open('/?temp=180','_self')">180</button>
<button type="button" onclick="window.open('/?temp=200','_self')">200</button>
<button type="button" onclick="window.open('/?temp=220','_self')">220</button>
<button type="button" onclick="window.open('/?temp=250','_self')">250</button>
<form action="/" method="get">
Teplota: <input type="text" name="temp" value="175">
<input type="submit" value="Nastavit">
</form>
</body>
</html>
