<html>
<head>
<meta http-equiv="refresh" content="5" >
</head>
<body>
<h1> Trouba </h1>
<h2> Teploty </h2>
<ul>
	<li>Odhadovaná teplota: {{data.temp}}
	<li>Nastavená teplota: {{temp}}
</ul>
<button type="button" onclick="window.open('/?light=1','_self')">Zapnout světlo</button>
<button type="button" onclick="window.open('/?light=0','_self')">Vypnout světlo</button>
<h2> Relé </h2>
<ul>
	<li>Horní malá: {{data.top_small}} 
	<li>Horní velká: {{data.top_big}}
	<li>Zadní: {{data.back}}
	<li>Spodní: {{data.bottom}}
	<li>Zadní větrák: {{data.back_fan}}
	<li>Větrák dveří: {{data.door_fan}}
	<li>Světlo: {{data.light}} 
</ul>
<button type="button" onclick="window.open('/?temp=-100','_self')">Vypnout</button><br />
<button type="button" onclick="window.open('/?temp=120','_self')">120</button>
<button type="button" onclick="window.open('/?temp=150','_self')">150</button>
<button type="button" onclick="window.open('/?temp=180','_self')">180</button>
<button type="button" onclick="window.open('/?temp=200','_self')">200</button>
<button type="button" onclick="window.open('/?temp=220','_self')">220</button>
<button type="button" onclick="window.open('/?temp=250','_self')">250</button>
<form action="/" method="get">
Teplota: <input type="text" name="temp" value="175">
<input type="submit" value="Nastavit">
</form>
</body>
</html>
